
.list-item {
	display: flex;
	align-items: center;
	justify-content: start;
}

.list-item + .list-item {
	border-top: solid green 0.25dvh;
}

.icon {
	padding: 2dvh;
	padding-left: 0dvh;
	aspect-ratio: 1 / 1;
	height: 16dvh;
}