* {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

#loading-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: flex;
}

p {
	align-self: flex-end;
	margin: 20px;
	color: green;
	text-shadow: 0 0 10px green;
}

#canvas {
	z-index: -1;
}