/*#########################
### GODOT               ###
#########################*/

#canvas {
	z-index: -1;
}

/*#########################
### SHARED              ###
#########################*/

* {
	font-family: "VT323", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	color: green;
	text-shadow: 0 0 0.25rem green;
}

body {
	background-color: #111111;
}

h1 {
	font-size: 2rem;
	margin: 0.25rem 0rem;
}

p {
	margin: 0.25rem 0rem;
}


@media (max-width: 1200px) {
	#loading {
		font-size: 16px;
	}

	/* prevent scrolling on mobile */
	html, body, #loading-container, #canvas, #terminal-container {
		overflow: hidden;
	}
}

@media (max-height: 800px) {
	* {
		font-size: 24px;
	}
}

@media (max-height: 450px) {
	* {
		font-size: 12px;
	}
}

@media (max-height: 350px) {
	* {
		font-size: 8px;
	}
}

/*#########################
### LOADING             ###
#########################*/

#loading {
	align-self: flex-end;
	margin: 20px;
}

#loading-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	
	background: black;
	
	display: flex;
}

/*#########################
### TERMINAL            ###
#########################*/

#terminal-container {
	position: absolute;

	display: none;
	opacity: 0.0;
}

#terminal {
	margin: 1rem;
	
	height: calc(100% - 2rem);
	
  display: flex;
  gap: 10px;
}

#navbar {
	width: 6rem;
  flex-shrink: 0;
  padding: 0.5rem;
  
	border: 2px solid green;
  border-radius: 5px;
	
	display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#content {
	flex-grow: 1;

	border: 2px solid green;
	border-radius: 5px;
}

.section {
	padding: 1rem;
}

.section > iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
}

.nav-button {
  all: unset;
  border: 2px solid green;
  background-color: darkgreen;
  color: black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: green;
}

.nav-button.active {
  background-color: green;
}


/*#########################
### SCANLINE EFFECT     ###
#########################*/

.scanline {
	overflow: hidden;
	position: relative;
}

.scanline:before,
.scanline:after {
	display: block;
	pointer-events: none;
	content: "";
	position: absolute;
}

.scanline:before {
	width: 100%;
	height: 2px;
	z-index: 2147483649;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0.75;
	animation: scanline 6s linear infinite;
}

.scanline:after {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483648;
	background: linear-gradient(
			to bottom,
			transparent 50%,
			rgba(0, 0, 0, 0.3) 51%
	);
	background-size: 100% 4px;
	animation: scanline 1s steps(60) infinite;
}

@keyframes scanline {
	0% {
			transform: translate3d(0, 200000%, 0);
	}
}
@keyframes scanline {
	0% {
			background-position: 0 50%;
	}
}