/*#########################
### GODOT               ###
#########################*/

#canvas {
	z-index: -1;
}

/*#########################
### SHARED              ###
#########################*/

* {
	font-family: "VT323", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 3vh;
	color: green;
	text-shadow: 0 0 0.25rem green;
}

body {
	background-color: #111111;
	margin: 0dvh;
	padding: 0dvh;
}


figure {
	margin-left: 0dvh;
	margin-right: 0dvh;
}

figcaption {
	font-size: 2vh;
	margin: 0dvh;
}

h1 {
	font-size: 6vh;
	padding-top: 2dvh;
	margin: 0dvh;
}

* + h1 {
	padding-top: 5dvh;
}

h2 {
	font-size: 5vh;
	padding-top: 2dvh;
	margin: 0dvh;
}

* + h2 {
	padding-top: 5dvh;
}

.title-link {
	font-size: 5vh;
	margin: 0dvh;
}

h3 {
	font-size: 4vh;
	margin: 0dvh ;
}

p {
	font-size: 3vh;
	padding-top: 2dvh;
	margin: 0dvh;
}

* + p {
	padding-top: 3dvh;
}

ul {
	margin: 0dvh;
	padding: 2dvh 0dvh;
	padding-left: 5dvh;
}

/* .separated {
	border-top: solid green 0.25dvh;
	padding-top: 5dvh;
} */

/* prevent scrolling on mobile */
html, body, #loading-container, #canvas, #terminal-container {
	overflow: hidden;
}

.under-construction {
	text-align: center;
}


/*#########################
### LOADING             ###
#########################*/

#loading {
	align-self: flex-end;
	margin: 5dvh;
}

#loading-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	
	background: black;
	
	display: flex;
}

#loading {
	font-size: 2vw;
}

/*#########################
### READER VIEW POPUP   ###
#########################*/

#arrow {
	position: absolute;
	top: 3%;
	left: 66%;
	rotate: 70deg;
	display: none;
}

.window {
	margin: 0dvh;
}

#reader-view-popup {
	scale: abs(tan(atan2(1dvh, 5px)));
	transform-origin: top left;
	position: absolute;
	top: 13%;
	left: 23%;
	background: transparent;
	border: 0px;
	margin: 0dvh;
	display: none;
}

/*#########################
### USERNAME POPUP      ###
#########################*/

#username-popup {
	background: black;
	border: 2px solid green;
}

#username-textbox {
	border: 2px solid green;
	background-color: rgb(107, 207, 107);
	color: black;
	width: 300px;
}

#submit-username-button {
	border: 2px solid green;
	background-color: darkgreen;
	color: black;
	border-radius: 0.5dvh;
	cursor: pointer;
}

::placeholder {
  color: black;
  opacity: 1;
}

/*#########################
### TERMINAL            ###
#########################*/

.explainer {
	font-size: 2vh;
	margin: 0.25rem 0rem;
}

#terminal-container {
	position: absolute;

	display: none;
	opacity: 0.0;

	/* center the terminal container on the page */
	margin-left: 0.3%;
}

#terminal {
	margin: 5vh;
	height: calc(100% - 10vh);
	width: calc(100% - 10vh);

  display: flex;
  gap: 2dvh;
}

#navbar {
	width: 20dvh;
  flex-shrink: 0;
  padding: 2dvh;
  
	border: 0.25dvh solid green;
  border-radius: 0.5dvh;
	
	display: flex;
  flex-direction: column;
  gap: 1dvh;
}

#content {
	flex-grow: 1;

	border: 0.25dvh solid green;
	border-radius: 0.5dvh;
}

#content-frame {
	border: 0dvh;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.sub-page {
	height: 100%;

	display: flex;
	flex-direction: column;
}

.section {
	background-color: #000000;
	flex-grow: 1;
	padding: 2dvh;
	opacity: 0;
	transition: opacity 0.3s;

	display: flex;
	flex-direction: column;
}


.section-header {
	border: 0.25dvh solid green;
	border-radius: 0.5dvh;
	padding: 1dvh 2dvh;
	margin: 0dvh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-header > h1 {
	padding: 1dvh 2dvh;
}

.scrollable {
	overflow: auto;
	padding-top: 0dvh;
	padding-bottom: 2dvh;
	flex-grow: 1;

	margin: 0dvh;

	border: 0dvh;
}

.scroll-container {
	flex-grow: 1;
	padding: 2dvh;

	overflow: hidden;

	border: 0.25dvh solid green;
	border-radius: 0.5dvh;
	display: flex;
	flex-direction: column;
}

#reader-view-button {
	padding: 0dvh 0.5dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#reader-view-button > i {
	color: black;
	font-size: 6dvh;
}

/* width */
::-webkit-scrollbar {
  width: 1dvh;
	margin: 0.25dvh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1dvh green; 
	margin: 0.25dvh;
  border-radius: 0.5dvh;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: green; 
	margin: 0.25dvh;
  border-radius: 0.5dvh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	margin: 0.25dvh;
  background: green; 
}

.section-header + .scroll-container {
	margin-top: 2dvh;
}

.nav-button {
  all: unset;
  border: 0.25dvh solid green;
  background-color: darkgreen;
  color: black;
  border-radius: 0.5dvh;
  padding: 0px;
	text-align: center;
	vertical-align: middle;
  cursor: pointer;
	font-size: 3dvh;
	text-shadow: none;
}

.nav-button:hover {
  background-color: green;
}

.nav-button.active {
  background-color: green;
}

.inset {
	margin-left: 4dvh;
}

#netizens-button {
  border: 0.25dvh solid white;
	background: linear-gradient(
					-45deg,
					rgba(255, 0, 0, 1) 0%,
					rgba(255, 154, 0, 1) 5%,
					rgba(208, 222, 33, 1) 10%,
					rgba(79, 220, 74, 1) 15%,
					rgba(63, 218, 216, 1) 20%,
					rgba(47, 201, 226, 1) 25%,
					rgba(28, 127, 238, 1) 30%,
					rgba(95, 21, 242, 1) 35%,
					rgba(186, 12, 248, 1) 40%,
					rgba(251, 7, 217, 1) 45%,
					rgba(255, 0, 0, 1) 50%,
					rgba(255, 154, 0, 1) 55%,
					rgba(208, 222, 33, 1) 60%,
					rgba(79, 220, 74, 1) 65%,
					rgba(63, 218, 216, 1) 70%,
					rgba(47, 201, 226, 1) 75%,
					rgba(28, 127, 238, 1) 80%,
					rgba(95, 21, 242, 1) 85%,
					rgba(186, 12, 248, 1) 90%,
					rgba(251, 7, 217, 1) 95%,
					rgba(255, 0, 0, 1) 100%
			);
	background-size: 400% 400%;
	background-position: bottom right;

	animation: a 2s linear infinite;
}

@keyframes a {
	to {
			background-position: 33.33% 33.33%;
	}
}

#settings-button {
	margin-top: auto;
	margin-left: auto;
	color: black;

	height: 2rem;
	width: 2rem;

	padding: 0rem;
}

#settings-button > i {
	color: black;
	font-size: 2rem;
}

#rotate-device-popup {
	position: fixed;

	top: calc(50% - 6rem);
	left: calc(50% - 8rem);

	height: 11rem;
	width: 16rem;

	background-color: green;
	border-radius: 0.5dvh;

	display: none;
	flex-direction: column;

	align-items: center;

	z-index: 1;
}

#rotate-device-popup > div {
	text-shadow: 0 0 0.25rem black;

	margin-top: 1rem;

	color: black;
	font-size: 6rem;
}

#rotate-device-popup > p {
	text-shadow: 0 0 0.25rem black;

	margin-top: 1rem;

	color: black;

	font-size: 1.5rem;
}

figure {
	margin: 0dvh;
	padding-top: 2dvh;
}

img, video {
	height: 24dvh;
	width: auto;
}

iframe {
	height: 32dvh;
	width: auto;
}

/*#########################
### MUSIC PLAYER        ###
#########################*/

#player-container {
	position: absolute;
	top: -30dvh;
	right: 2dvh;
	height: 24dvh;
	width: 24dvh;
	background-image: url("./player.png");
	background-size: cover;
	image-rendering: pixelated;
	box-sizing: border-box;
	transition: top 2.0s;
}

#player {
	height: 100%;
	width: 100%;
	padding: 1.25dvh;
	box-sizing: border-box;
}


/*#########################
### SCANLINE EFFECT     ###
#########################*/

.scanline {
	overflow: hidden;
	position: relative;
}

.scanline:before,
.scanline:after {
	display: block;
	pointer-events: none;
	content: "";
	position: absolute;
}

.scanline:before {
	width: 100%;
	height: 2px;
	z-index: 2147483649;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0.75;
	animation: scanline 6s linear infinite;
}

.scanline:after {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483648;
	background: linear-gradient(
			to bottom,
			transparent 50%,
			rgba(0, 0, 0, 0.3) 51%
	);
	background-size: 100% 4px;
	animation: scanline 1s steps(60) infinite;
}

@keyframes scanline {
	0% {
			transform: translate3d(0, 200000%, 0);
	}
}
@keyframes scanline {
	0% {
			background-position: 0 50%;
	}
}