* {
	font-family: "VT323", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
}

p {
	align-self: flex-end;
	margin: 20px;
	color: green;
	text-shadow: 0 0 10px green;
}

#loading-container {
	position: absolute;
	background: black;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
}

#canvas {
	z-index: -1;
}

@media (max-width: 600px) {
	p {
		/* adjust bottom margin for mobile (for on-screen controls) */
		margin-bottom: env(safe-area-inset-bottom);
	}

	/* prevent scrolling on mobile */
	html, body, #loading-container, #canvas {
		overflow: hidden;
	}
}

/* SCANLINE EFFECT */

.scanline {
	overflow: hidden;
	position: relative;
}

.scanline:before,
.scanline:after {
	display: block;
	pointer-events: none;
	content: "";
	position: absolute;
}

.scanline:before {
	width: 100%;
	height: 2px;
	z-index: 2147483649;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0.75;
	animation: scanline 6s linear infinite;
}

.scanline:after {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483648;
	background: linear-gradient(
			to bottom,
			transparent 50%,
			rgba(0, 0, 0, 0.3) 51%
	);
	background-size: 100% 4px;
	animation: scanline 1s steps(60) infinite;
}

@keyframes scanline {
	0% {
			transform: translate3d(0, 200000%, 0);
	}
}
@keyframes scanline {
	0% {
			background-position: 0 50%;
	}
}